<h2>Sobre o blog</h2>
<fieldset>
    <p>
        Este é um blog simples desenvolvido com NodeJS para introdução ao framework,
        e para a construção do mesmo, foi estudado sobre <b>rotas</b> <b>com express</b>,
        <b>banco de dados</b>com <b>sequelize</b> e <b>mongoose</b>, <b>módulos</b>,
        <b>protocolo HTTP</b>, entre outros. <br>O link do código fonte encontra-se no
        <a href="https://github.com/lrsonnewend/blog-nodejs" target="_blank">
            GitHub
        </a>, e foi por
        <a href="https://www.youtube.com/playlist?list=PLJ_KhUnlXUPtbtLwaxxUxHqvcNQndmI4B" target="_blank">
            aqui
        </a> que fiz o curso para montar este blog.
    </p>

</fieldset>